/* Table Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 1px 6px;  /* Reduzido ainda mais o padding para diminuir a altura das células */
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;  /* Garante que o conteúdo da célula fique centralizado verticalmente */
}

th {
    background-color: #007bff;
    color: white;
    text-align: center; /* Centraliza o texto no cabeçalho */
}

/* Ajustando a altura das linhas da tabela */
table tbody tr {
    height: 20px;  /* Diminuindo a altura das linhas para 20px */
}

/* Especificando a altura e o padding nas células das linhas */
table tbody td {
    padding-top: 1px;  /* Ajuste ainda menor do padding superior da célula */
    padding-bottom: 1px;  /* Ajuste ainda menor do padding inferior da célula */
    line-height: 10px;  /* Reduzido ainda mais o line-height para uma altura de linha mais compacta */
}

/* Ajustando as ações dos botões */
table td a {
    padding: 3px 8px; /* Ajuste do padding para os botões */
}

/* Button Styling */
.btn {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    border: none;
}

.btn-primary {
    background-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}
